[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
moto = "*"
pytest = "*"
pyinstaller = "*"

[packages]
boto3 = "*"
pywebview = {extras = ["qt"],version = "*"}

[requires]
python_version = "3.7"
